.TwoContainer{
    display: flex;
    left: 4%;
    position: absolute;
    justify-content: space-between;
    top:12%;
    height: 80%;
    width: 85%;
    
}
@media(max-width:479px){
    .TwoContainer{
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 20px;
            left: 7%;
    }

}