.UserPersonalInfoContainer{
    position: absolute;
    left:50%;
    top: 10%;
    transform: translateX(-50%);
    background: linear-gradient(135deg, hsl(0, 0%, 100%) -9%, hsl(26, 100%, 50%) 120%);
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
      box-shadow: 5px 0 25px rgba(0, 0, 0, 0.4);

    .infoContainer{
        display: flex;
        gap: 20px;
        position: relative;
        left: 7%;
        .data{
            background-color: hsl(26, 100%, 60%);
            border-radius: 20px;
            width: 80px;
            max-width: 200px;
        }
    }
    h1,h2,h3,h4{
        margin: 0px;
    }
    .ProfilePicture{
        width: 100px;
        height: 100px;
        background-color: red;
        }
    .settingsButton{
        margin-top: 60px;
    }

}