.ChooseChallenge{
    width: 30%;
    position: absolute;
    .AddChallengeContainer{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
    }
    
    .AllChallengesContainer{
    display: flex;
    flex-direction: column;
    }
    .SingleChallengeContainer{
        border: 3px solid black;
    }


}
