.resetPasswordContainer{
    position: absolute;
    top: 30%;
    max-width: 600px;
    left: 5%;
        .button{
        padding: 0px 20px;
        border-radius: 30px;
        background-color: orange;
        border: none;
        box-shadow: 5px 0 25px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease;
        cursor: pointer;

    }
    .button:hover{
              box-shadow: 5px 0 25px rgba(0, 0, 0, 0.4);

    }
    .inputcontainer{
        display: flex;
        gap: 20px;


    input{
        width: 50%;
        height: 40px;
        border-radius: 30px;
        border: orange 5px solid;
        font-size: 1.2em;
    }
}

}