
.YourTrainingsContainer{
    font-size: 1.2em;
    width: 40%;
    position: absolute;
    height: 70%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding-top: 20px;
    scrollbar-width: none;         /* Firefox */
    -ms-overflow-style: none;      /* IE 10+ */
}
.YourTrainingsContainer::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari */
}
.SingleTrainigContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* cień */
    background: linear-gradient(135deg, hsl(26, 100%, 92%) 5%, hsl(26, 100%, 50%) 170%);
    height: 20%;
    justify-content: space-around;
    border-radius: 27px;
    overflow: none;


    h3{
        margin: 0px;
        margin-top: 10px;
        padding-left: 20px;
        padding-top: 5px;
    }
    .TrainingDescription{
        position: relative;
        height: auto;
        width: 90%;
        flex-wrap: wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        padding-left: 20px;

    }
    h4{
        margin: 0px;
    }
    .buttonContainer{
        width: 40%;
        display: flex;
        justify-content: space-between;
        right: 0%;
        button{
            padding: 10px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            background-color:hsl(28, 100%, 60%);
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* cien */;
                    transition: 0.2s ease;
        }
        button:hover{
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); /* cien */;

            

        }
    }
    .HorizontalContainer{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 0px 20px;
        margin-bottom: 10px;
        
    }
}