.AddNewTrainingContainer{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: ce;

            background-color:hsl(28, 100%, 80%);
    border-radius: 30px;
    height: 90%;
    gap: 23px;
    padding: 20px 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* cień */
    .goalContainer{
        display: flex;
        width: 95%;
        justify-content: space-between;
        .Inputs{
            width:70%;

        }
    }
    .checkContainer{
        display: flex;
        gap: 10px;
        width: 90%;
        .DaysInput{
            right: 0px;
            border-radius: 20px;
            border: 3px hsl(28, 100%, 60%) solid;
        }
    }


    h2{
        margin: 0px;
    }
    .Inputs{
        width: 95%;
        height: 30px;
        border-radius: 20px;
        border: 3px hsl(28, 100%, 60%) solid;
    }
    .ButtonContainer{
        display: flex;
        gap: 20px;
        width: 60%;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        button{
            width: 50%;
            padding: 13px;
            border-radius:20px ;
            background-color:hsl(28, 100%, 60%);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); /* cien */;
            cursor: pointer;
            transition: 0.2s ease;
            border: none;

        }
        button:hover{
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5); /* cien */;

        }
    }

    
}
@media(max-width:479px){
    .AddNewTrainingContainer{
        width: 75%;
        align-items: center;
        margin-bottom: 100px;
    }
    .AddNewTrainingContainer .checkContainer{
        width: 110%;
        font-size: 1.5rem;

    }
    .AddNewTrainingContainer .ButtonContainer{
        width: 100%;
    }
    .AddNewTrainingContainer .ButtonContainer button{
        font-size: 1.2rem;
        width: 50%;
    }

}