.FilterTrainingsContainer{
    width:90%;
    display: flex;
    gap: 10px;
    .FavouritesButton{
        padding: 0 15px;


    }
    input{
        height: 30px;
        width: 30%;
        border-radius: 20px;
        border: 3px solid hsl(28, 100%, 60%) ;
    }
    .ClearFiltersButton, .FavouritesButton{
        border-radius: 20px;
        border: none;
        background-color:hsl(28, 100%, 60%);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* cien */;
        cursor: pointer;
        transition: 0.2s ease;
    }
        .ClearFiltersButton:hover{
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); /* cien */;

            

        }

}
@media(max-width:479px){
    .FilterTrainingsContainer{
        flex-direction: column;
        align-items: center;
    }
    .FilterTrainingsContainer input{
        width: 100%;
    }
    .FilterTrainingsContainer button{
        font-size: 1.3rem;
        padding: 10px;
        width: 50%;
        background-color: gainsboro;
    }
}