.ChartContainer{
    position: relative;
    display: flex;
    left: 2%;
    width: 90%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-right: 20px;
    border-radius: 30px;
    z-index: 10;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); /* cien */;


    h1,h2,h3,h4{
        margin: 0px;
    }
    .chartSettings{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        left: 2%;
        min-width: 20%;
        background-color: orange;
        border-radius: 30px 0px 0px 0px;
        padding: 20px;
        padding-right: 10px;

  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    .Inputs{
        width: 80%;
        height: 30px;
        border-radius: 20px;
        border: 3px hsl(28, 100%, 60%) solid;
    }




    }
    .LineChartContainer{
        width: 90%;
        height:100%;
        padding-left: 20px;
        

    }
    .message{
        margin: 40px ;
    }
    .StatsContainer{
        width: 400px;
    }
}
.StatsContainer{
    position: relative;
        background-color: hsl(39, 100%,75%);
    width: 35%;
    left: 2%;
    padding: 35px;
    padding-top: 25px;
    padding-right: 0px;
      box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
      border-radius:0px 0px 30px 30px;
      min-height: 230px;

    
    h1,h2,h3,h4,h5{
        margin: 0px;

    }
}