.SummaryPanelContainer {
  flex-direction: column;
  width: 30%;
  padding: 0px 20px;
  font-size: 1.2em;
  border-radius: 40px;


  height: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);

  background: linear-gradient(135deg, 
    hsl(0, 0%, 100%) 20%, 
    hsl(26, 100%, 70%) 90%, 
    hsl(26, 100%, 40%) 60%, 

    hsl(0, 0%, 100%) 90%);
  
  background-size: 200% 200%; /* większy rozmiar tła */
  animation: backgroundMove 3s ease-in-out infinite alternate;
  .bottomContainer{
    display: flex;
    gap: 40px;
    align-items: center;
    button{ 
            height: 50%;
            padding: 15px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            background-color:hsl(28, 100%, 60%);
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* cien */;
                    transition: 0.2s ease;
        }
        button:hover{
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); /* cien */;

            

        }
  }

}

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@media(max-width:479px){
  .SummaryPanelContainer{
    width: 90%;

  }

}