
.TodayTrainingsContainer{
    position: absolute;
    left:35%;
    top: 16%;
    position: absolute;
    width: 25%;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 30px;
            background: linear-gradient(-135deg, hsl(0, 0%, 100%) 5%, hsl(26, 100%, 50%) 200%);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* cien */;
    height: auto;
    .AllTrainingsContainer{
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow: scroll;
    }

    h3, h2{
        margin: 0px;
    }
    .warning{
        padding: 2px;

    }
    .noDisplayButton {
            padding: 10px;
            width: 30%;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            background-color:hsl(28, 100%, 60%);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* cien */;
            transition: 0.2s ease;
            margin-left: 5px;
        }
        .noDisplayButton:hover{
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); /* cien */;

            

        }
    
    .SingleTrainingContainer{
        display: flex;
        justify-content: space-evenly;
        height: 40%;
        margin: 5px;
        background: linear-gradient(135deg, hsl(0, 0%, 100%) 5%, hsl(200, 80%, 80%) 110%);
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* cien */;
                border-radius: 30px;
        

        
        .InfoContainer{
            display: flex;
            flex-direction: column;
            margin-left: 25px;
            width: 60%;
            .detailsContainer{
                display: flex;
                gap: 20px;
            }
        
        }
        h4{
            margin: 0px;
        }

        .buttonContainer{
            display: flex;
            overflow: hidden;
            width: 32%;
            justify-content: end;
            border-radius: 30px;
            background-color: tan;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* cien */;

            button{
                width: 50%;
                border: none;
                font-size: 1.5em;
                cursor: pointer;
                transition: 0.3s ease;
                color: black;
        


                
            }

            .YesButton{
                background-color: hsl(26, 100%, 80%);
                    
                    
                }
            .YesButton:hover{
                background-color: hsla(128, 100%, 48%, 20%);;
            }
            .NoButton{
                background-color: hsl(26, 100%, 60%)
            }
            .NoButton:hover{
                background-color: hsla(0, 100%, 50%, 50%)


            }

        }

    }

}
    .AllTrainingsContainer::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari */
}